*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid black;
    height: 600px;
    width: 100%;
}
.sidebar{
    position: fixed;
    justify-content: center;
    border: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: gray;
}
#navsearch{
     outline: none;
    width: 170px;
    border-radius: 25px;
    height: 25px;
    border: none;
    font-size: large;
}
.ser{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 30px;
    border: 1px solid black;
    background-color: white;
    border-radius: 25px;
}
.payment{
    gap: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    /* border: 1px solid blue; */
}
.noti{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    /* border: 1px solid blue; */
    gap: 15px;
}
.dashbord{
    gap: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    /* border: 1px solid blue; */
}
.setting{
    height: 30px;
    display: flex;align-items: center;
    justify-content: center;
    width: 300px;
    /* border: 1px solid blue; */
}
.help{
    height: 30px;
    display: flex;align-items: center;
    justify-content: center;
    width: 300px;
    /* border: 1px solid blue; */
}
.auto{
    text-decoration: none;
    color: black;
    font-size: x-large;
}
#sea{
    border-top: none;
     outline: none;
    width: 200px;
    height: 25px;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
.photo{
    height: 50px;
    width: 100px;
}
