*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 100%;
    /* background-color: #081b29; */
    background-image: url(ASSET/pexels-mikhail-nilov-7676883.jpg);
    background-repeat: no-repeat;
    /* background-size: 100% 600px; */
    background-size: cover;
}
.box{
    border: 3px solid #0ef;
    height: 600px;
    box-shadow: #0ef 0 0 80px;
   border-radius: 30px;
    padding: 20px;
    width: 500px;
    backdrop-filter: blur(10px);
}
#name{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 23px;
    outline: none;
    border-bottom: 2px solid white;
    transition: 5s;
}
input:focus,
input:valid{
    border-bottom-color: #0ef;
    color: #0ef;
    transform: 5s;
}
.user{
    margin-top: 20px;
}
#lastname{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 23px;
    outline: none;
    border-bottom: 2px solid white;
    transition: 5s;
}
#user{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 23px;
    outline: none;
    border-bottom: 2px solid white;
    transition: 5s;
}
#phone{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 23px;
    outline: none;
    border-bottom: 2px solid white;
    transition: 5s;
}
.phone{
    margin-top: 20px;
}
#age{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 23px;
    outline: none;
    border-bottom: 2px solid white;
    transition: 5s;
}
.age{
    margin-top: 20px;
}
#state{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 23px;
    outline: none;
    border-bottom: 2px solid white;
    transition: 5s;
}
.state{
    margin-top: 20px;
    color: white;
}
option{
    background-color: #081b29;
    color: white;
}
#password{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 23px;
    outline: none;
    border-bottom: 2px solid white;
    transition: 5s;
}
.password{
    margin-top: 20px;
}
#email{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-right: 23px;
    outline: none;
    border-bottom: 2px solid white;
    transition: 5s;
}
.mail{
    margin-top: 20px;
}
.gender{
    margin-top: 20px;
    gap: 20px;
    color: #fff;
}
.submit{
    width: 50%;
    margin-top: 20px;
    height: 45px;
    background: transparent;
    border: 2px solid#0ef;
    border-radius: 40px;
    cursor:pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: 5s;
}
label{
    color: #fff;
}

.photos{
    margin-top: 10px;
}
@media screen and (max-width:800px) {
    .box{
        /* height: 60px; */
        width: 250px;
    }
    .container{
        height: 850px;
        width: 400px;
        background-size: cover;
    }
}