*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    .container{
        background-image: url(asset/house2\ \(2\).jpg);
    /* background-image: url(asset/house3.jpg); */
    background-repeat: no-repeat;
     display: flex;
     /* background-color: rgb(186, 186, 255); */
    background-size: 100% 650px;
    object-fit: contain;
    border: 1px solid black;
    height: 650px;
    width: 100%;   
}
.nav{
    border: 1px solid black;
    color: white;
    background-color: blue;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 80%;
}
.christ{
     /* border: 1px solid black; */
     color: gold;
     display: flex;
     align-items: center;
     justify-content: center;
}
.login{
    opacity: 0.7;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    height: 50px;
    width: 200px;
}
.both_nav{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 50px;
    width: 100%;
    position: fixed;
    
}
.box1{
    /* border: 1px solid black; */
    height: 120px;
    width: 350px;
    display: flex;
    align-items: center;
    opacity: 0.7;
    justify-content: center;
    color: white;
    background-color: blue;
    margin-top: 400px;
}
.box2{
    /* border: 1px solid black; */
    height: 120px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: blue;
    margin-top: 400px;
    opacity: 0.7;
}
.box3{
    /* border: 1px solid black; */
    height: 120px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: blue;
    opacity: 0.7;
    margin-top: 400px;
}
.boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 280px;
    position: fixed;
    gap: 15px;
    width: 100%;
    /* border: 1px solid black; */
    height: 120px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}
.pic{
    height: 50px;
    background-color: aqua;
    border-radius: 100%;
    margin-right: 20PX;
    width: 90px;
}
.picsss{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .container{
        background-image: url(asset/house2\ \(2\).jpg);
        /* background-image: url(asset/house3.jpg); */
        background-repeat: no-repeat;
         display: flex;
        background-size: 100% 900px;
        object-fit: contain;
        height: 900px;
        width: 100%;   
    }

    .nav{
        border: 1px solid black;
        color: white;
        background-color: rgb(106, 106, 224);
        opacity: 0.7;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 80p;
    }

    .boxs{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        margin-top: 600px;
        width: 390px;
        gap: 40px;
    }

    .box1{
        height: 50px;
        width: 125px;
        margin-bottom: 400px;
    }

    .box2{
        height: 50px;
        width: 125px;
        margin-bottom: 400px;
    }

    .box3{
        height: 50px;
        width: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 400px;
    }

    h2{
        font-size: smaller;
    }

    .nav{
        height: 50px ;
        width: 95%;
        gap: 20px;
    }

    h1{
        font-size: small;
    }

    .pic{
        height: 40px;
        width: 60px;
        margin-right: 10px;
    }

    .picsss{
        height: 40px;
        width: 60px;
    }
}